# Instaladores y binarios
*.exe
*.msi
*.dmg

# Sistemas operativos
.DS_Store
Thumbs.db
desktop.ini

# Editores / IDEs
.vscode/
.idea/

# Archivos temporales
*.tmp
*.log

# Python
__pycache__/
*.py[cod]
*$py.class